@using Microsoft.AspNetCore.Identity
@using UAParser; 
@model IEnumerable<JokesApp.Models.Joke>
@inject SignInManager<IdentityUser> SignInManager
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Jokes Application!";

    //  (SignInManager.IsSignedIn(User))
}
<div id="home_hero">
    <div id="hero_content">
        <h1>Drive Excellence</h1>
        <p class="home_hero sub_text">Deliver performance and unmatched creativity!</p>
        <button class="cta_primary">Learn More..</button>
     </div>
</div>

<div id="home_tile_container">
    <ul>
        <li><span class="material-icons-outlined">
account_circle
</span></li>
        <li><span class="material-icons-outlined">
shopping_cart
</span></li>
        <li><span class="material-icons-outlined">
schedule
</span></li>
        <li><span class="material-icons-outlined">
question_answer
</span></li>
        <li><span class="material-icons-outlined">
leaderboard
</span></li>
    </ul>
</div>