@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Jokes Application!";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h1 class="display-4">Welcome, @User.Identity.Name</h1>
        <p>The foremost authority on good jokes.</p>
    </div>
}


@if (!SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h1 class="display-4">Welcome, Log In <a asp-area="Identity" asp-page="/Account/Login" style="color:black;">Here</a></h1>
    </div>
}
